* {
    margin: 0px;
    padding: 10px;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: "poppins";
  
  }
  
  body {
    max-width: 1800px;
    margin: 0 auto;
    padding: 0 20px;
    /* box-sizing: border-box; */
  }
  /* 
  html {
    width: 100%;
    height: 100%;
  } */
  
  /* sections */
  section {
    margin-top: 10%;
  }
  
  .row {
    display: flex;
    justify-content: space-between;
  }
  
  .row .col50 {
    position: relative;
    width: 40%;
    justify-content: center;
    align-items: center;
  }
  
  .row .col50 p {
    margin-top: 5%;
    margin-bottom: 5%;
  }
  
  h2 {
    font-weight: 600;
    font-size: 35px;
    margin-top: 5%;
  }
  
  
  
  
  /*--HEADER--*/
  
  header .container {
    /* width: 1500px; */
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  header .container ul {
    display: flex;
    align-items: center;
  }
  
  header .container ul a {
    margin: 0 20px;
    font-weight: 600;
    color: black;
  }
  
  header .container ul li a:hover {
    color: #144f9b;
    border-bottom: 1px solid #144f9b;
  }
  
  .download_btn {
    /* height:70px ; */
    /* width:100px ; */
    color: #144f9b;
    border: 3px solid #144f9b;
    border-radius: 30px;
    padding: 10px;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    position: relative;
    transition: 0.3s;
    z-index: 2;
    overflow: hidden;
  }
  
  .download_btn:hover {
    color: #fff;
    letter-spacing: 1px;
    background-color: #144f9b;
  }
  
  /* .download_btn::before {
    content: "";
    position: absolute;
    background-color: #144f9b;
    border-radius: 28px;
    height: 46px;
    width: 120px;
    top: 0;
    left: 0;
    transform: translate(-100%);
    transition: 0.3s;
    z-index: -1;
  } */
  
  .download_btn:hover::before {
    transform: translate(0%);
    width: 127px;
  }
  
  
  
  /* buttons */
  .btn {
    background: #144f9b;
    color: #ffffff;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    padding: 10px 10px;
    border-radius: 30px;
    text-decoration: none;
  }
  
  .btn:hover {
    letter-spacing: 1px;
  }
  
  
  /* first-section */
  
  .livraison {
    background: rgba(20, 79, 155, 0.1);
    border-radius: 30px;
    font-weight: 600;
  }
  
  /* second-section */
  
  .second-section .row .img2 {
    position: absolute;
    left: 37.37px;
    top: 58.92px;
  }
  
  .second-section .row .partenariat {
    margin-top: 5%;
  }
  
  /* third-sectin */
  
  .third-section .row .col75 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 81px;
    width: 65%;
    height: 446px;
  }
  
  .third-section .row .col75 .midle {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 40px;
    width: 356px;
    height: 446px;
  }
  .row .col75 .midle .box {
    display: flex;
    flex-direction: column;
  }
  
  .row .col75 .midle .box-line {
    border-bottom: 1px solid #d9d9d9;
  }
  
  .ellipse {
    width: 70px;
    height: 70px;
    background: rgba(20, 79, 155, 0.2);
    border-radius: 50%;
  }
  
  
  /* FOUTH SECTION */
  .fourth-section {
    margin-left: 10%;
    margin-top: 15%;
  }
  
  /* fifth-section */
  .blue {
    position: relative;
    margin-bottom: 100px;
    left: 0px;
    height: 280px;
    background-color: #144f9b;
  }
  
  .blue-section .part1 p {
    font-weight: 600;
    font-size: 20px;
    line-height: 40px;
    color: #ffffff;
  }
  
  .blue-section .part1 #btn {
    display: flex;
  }
  
  .app-btn {
    background-color: #000;
    width: 170px;
    height: 60px;
    border-radius: 10px;
    cursor: pointer;
    align-items: center;
    display: flex;
    font-size: 12px;
    color: #ffffff;
  }
  
  
  
  .blue-section  #google {
    margin-left: 5px;
  }
  
  
  .blue-section .part2 {
    position: absolute;
    width: 654px;
    height: 350px;
    left: 639px;
    top: -70px;
  }
  
  /* footer */
  
  
  .footer-container .row {
    border-bottom: 1px solid #d9d9d9;
  }
  
  .footer-container .row .col25 {
    width: 25%;
  }
  
  
  .footer-container .row .col25 a {
    color: #000;
  }
  /* #bas {
    width: 330px;
  } */
  
  
  @media  screen and (min-width:767) and (max-width: 1024px) {
    h2 {
      font-weight: 600;
      font-size: 30px;
      margin-top: 5%;
    }
    .fourth-section {
      /* margin-left: 3%; */
      margin-top: 30%;
      margin-right: 10%;
    }
    .blue-section .part2{
      /* display: none; */
      position: absolute;
      width:454px;
      height: 350px;
      left: 539px;
      top: 38px;
    }
  
  }
  
  
  
  @media only screen and (max-width: 991px) {
    .row {
      /* width: 100%; */
      display: flex;
      flex-direction: column;
    }
  
    .row .col50 {
      width: 100%;
    }
    .row .col50 h2 {
      font-size: 20px;
      width: 100%;
    }
    .row .col50 p {
      width: 100%;
    }
  
    .second-section .row .col50 h2 {
      margin-top: 75%;
    }
  
    .third-section .row .col75 {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      padding: 0px;
      gap: 81px;
      width: 100;
      height: 446px;
    }
    .ellipse {
      width: 50px;
      height: 50px;}
  
    .fourth-section {
      margin-top: 38%;
    }
  
    .blue-section .part1 #btn {
      margin-top: 10%;
    }
    .part2 {
      display: none;
    }
  
    /* footer */
    .footer-container .row {
      display: flex;
      gap: 50px;
    }
    .logo {
      display: flex;
      flex-direction: row;
    }
  
    #footer {
      display: none;
    }
    #bas {
      display: none;
    }
    #logo {
      display: flex;
      flex-direction: row;
      column-gap: 30%;
    }
  }
  
  /* @media only screen and (max-width: 768px) {
    .fourth-section{
      margin-top: 60%;
    }
  } */
  
  /* @media only screen and (max-width: 700px) {
  
    /* navbar */
    /* .midle-nav a {
      font-size: 10px;
    } */
  
    /* second-section */
    /* .second-section .row .col50 h2 {
      margin-top: 95%;
    } */
  
    /* fourth-section */
    /* .fourth-section {
      margin-top: 95%;
    }
  } */
  /* @media only screen and (max-width: 600px) { */
  
     /* navbar */
   /* .midle-nav { 
      display: none;
    }  */
   /* #download {
      display: none;
    } */
    /* .checkbtn {
      display: block;
    }
    
  .midle-nav{
    position: absolute;
    width: 30%;
    height: 40vh;
    top: 80px;
    right: -100%;
    text-align: center;
    text-transform: all .5s;
    background: #144f9b;
  }
  nav .midle-nav li{
    display: block;
  }
  nav .midle-nav li a {
    color: #ffffff;
  }
  
  #check:checked ~ ul{
    right: 0;
  } */
    /* .second-section */
    /* .second-section .row .col50 h2 {
      margin-top: 110%;
    } */
  
    /* third-section */
  
    /* .third-section .row .col75 {
      display: flex;
      flex-direction: column;
      margin-bottom:20%;
    }
    .fourth-section {
      margin-top: 120%;
    }
  } */
  
  /* @media only screen and (max-width: 500px) {
  
   h2{
    font-size: 20px;
   } */
   /* .midle-nav{
    position: absolute;
    width: 30%;
    height: 15vh;
    top: 80px;
    right: -100%;
    text-align: center;
    text-transform: all .5s;
    background: #144f9b;
  } */
   
    /* .third-section p {
    font-size: 13px;
   }
   
    .fourth-section {
      margin-top: 155%;
    }
  
    .blue-section .part1 {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }
    .blue-section .part1 p {
      width: 250px;
      height: 80px;
      font-family: "Poppins";
      font-style: normal;
      font-weight: 600;
      font-size: 15px;
      line-height: 40px;
      color: #ffffff;
    }
    .blue-section .part1 #btn {
      display: flex;
      flex-direction: column;
    }
    button {
      background-color: #000;
      width: 200px;
      height: 40px;
      border-radius: 5px;
      cursor: pointer;
    }
  
    #apple {
      margin-bottom: 5%;
    }
    #img-apple{
      width: 30px;
      height: 30px;
    }
  
    #google {
      margin-bottom: 5px;
    }
  
    #bas {
      display: none;
    }
    #logo {
      display: flex;
      flex-direction: row;
    }
  } */
  
  /* @media only screen and (max-width: 400px) {
    .midle-nav{
      position: absolute;
      width: 30%;
      height: 20vh;
      top: 80px;
      right: -100%;
      text-align: center;
      text-transform: all .5s;
      background: #144f9b;
    }
    .fourth-section {
      margin-top: 180%;
    } 
  }*/